{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/coeval.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/coeval.js' %}"></script>
    <script>
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
    <title>Sistema de Coevaluaciones DCC</title>
</head>
<body>
<!-- Barra superior -->
{% include "coevaluaciones/barra_superior.html" %}
<!-- FIN Barra superior -->

<!-- Cuerpo -->
<div class="container mt-4"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-9">
            <h4 class="d-inline-block mt-1">Últimas Coevaluaciones</h4>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                    <tr> <!-- Fila (Table Row) -->
                        <th class="th-fecha">Fecha inicio</th>
                        <th class="th-titulo">Nombre</th>
                        <th class="th-curso">Curso</th>
                        <th class="th-semestre">Sem</th>
                        <th class="th-fecha">Fecha límite</th>
                        <th class="th-estado">Estado</th>
                        <th class="th-iconos"></th>
                    </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                    {% for coev in coev_estud %}
                        {% if coev.estado.upper == "PENDIENTE" %}
                            <tr class="tr-pendiente clickable-row"
                                data-href="{% url 'ficha_coevaluacion' coev.coevaluacion_id %}">
                                <!-- Fecha de inicio -->
                                <td class="td-fecha">
                                    {{ coev.coevaluacion.inicio|date:'H:i d/m/y' }}
                                </td>
                                <!-- Título de coevaluación -->
                                <td>{{ coev.coevaluacion.nombre }}</td>
                                <!-- Curso, con ícono de rol, nombre y código -->
                                <td class="td-curso-full">
                                    <div class="cargos cargos-alumno tooltip-custom">
                                        <span class="tooltiptext"></span>
                                    </div>
                                    <span class="curso-nombre">{{ coev.coevaluacion.curso.nombre }}</span>
                                    <br>
                                    <span class="curso-codigo">{{ coev.coevaluacion.curso.codigo }}-
                                        {{ coev.coevaluacion.curso.seccion }}</span>
                                </td>
                                <!-- Semestre -->
                                <td>{{ coev.coevaluacion.curso.anho }}-{{ coev.coevaluacion.curso.semestre }}</td>
                                <!-- Fecha de término -->
                                <td class="td-fecha">
                                    {{ coev.coevaluacion.fin|date:'H:i d/m/y' }}
                                </td>
                                <!-- Estado -->
                                <td>Pendiente</td>
                                <!-- Ícono de acción (responder) -->
                                <td class="td-icon">
                                    <a href="{% url 'ficha_coevaluacion' coev.coevaluacion_id %}"
                                       title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle"
                                                                           src="icon/answer-icon.png"
                                                                           alt="Responder coevaluación" width="28"
                                                                           height="28"></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="clickable-row"
                                data-href="{% url 'ficha_coevaluacion' coev.coevaluacion_id %}">
                                <!-- Fecha de inicio -->
                                <td class="td-fecha">
                                    {{ coev.coevaluacion.inicio|date:'H:i d/m/y' }}
                                </td>
                                <!-- Título de coevaluación -->
                                <td>{{ coev.coevaluacion.nombre }}</td>
                                <!-- Curso, con ícono de rol, nombre y código -->
                                <td class="td-curso-full">
                                    <div class="cargos cargos-alumno tooltip-custom">
                                        <span class="tooltiptext"></span>
                                    </div>
                                    <span class="curso-nombre">{{ coev.coevaluacion.curso.nombre }}</span>
                                    <br>
                                    <span class="curso-codigo">{{ coev.coevaluacion.curso.codigo }}-
                                        {{ coev.coevaluacion.curso.seccion }}</span>
                                </td>
                                <!-- Semestre -->
                                <td>{{ coev.coevaluacion.curso.anho }}-{{ coev.coevaluacion.curso.semestre }}</td>
                                <!-- Fecha de término -->
                                <td class="td-fecha">
                                    {{ coev.coevaluacion.fin|date:'H:i d/m/y' }}
                                </td>
                                {% if coev.coevaluacion.estado.upper == "ABIERTA" %}
                                    <td>Contestada</td>
                                {% else %}
                                    <td>{{ coev.coevaluacion.estado }}</td>
                                {% endif %}
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tabla de cursos -->
        <div class="col-md-3 mb-3">
            <h4 class="d-inline-block mt-1">Tus Cursos</h4>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-cursos table-striped table-hover mb-0">
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                    <tr>
                        <th>Curso</th>
                        <th class="th-semestre">Sem</th>
                    </tr>
                    </thead>
                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                    {% for rol in roles_usuario %}
                        <tr class="clickable-row" data-href="{% url 'ficha_curso' curso_id=rol.curso_id %}">
                            <td class="td-curso-full">
                                <div class="cargos cargos-alumno tooltip-custom">
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">{{ rol.curso.nombre }}</span>
                                <br>
                                <span class="curso-codigo">{{ rol.curso.codigo }}-{{ rol.curso.seccion }}</span>
                            </td>
                            <td>{{ rol.curso.anho }}-{{ rol.curso.semestre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>
        